@font-face{
    font-family: 'Cairo';
    src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primeColoe: #0F172A;
    --listColor: #CBD5E1;
    --logoColor: #38BDF8;
    --primeFont: 'Cairo', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 98%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* start header section*/
.header{
    padding: 18px 0;
    background-color: var(--primeColoe);
}
.header .row{
    justify-content: space-between;
}
.logoAddress{
    color: var(--logoColor);
    text-transform: capitalize;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    font-family: var(--primeFont);
}
.list{
    display: block;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.list a{
    color: var(--listColor);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: var(--primeFont);
}

@media screen and (min-width: 0) and (max-width: 400px){
    .list{
        display: none;
    }
}
/* end header section*/